[submodule "zeppelin-k8s"]
	path = zeppelin-k8s
	url = git@github.com:rogeriomm/zeppelin-k8s.git
[submodule "spark-k8s"]
	path = spark-k8s
	url = git@github.com:rogeriomm/spark-k8s.git
[submodule "minikube-labtools-k8s"]
	path = minikube-labtools-k8s
	url = git@github.com:rogeriomm/minikube-labtools-k8s.git
[submodule "minio-k8s"]
	path = minio-k8s
	url = git@github.com:rogeriomm/minio-k8s.git
