boto3==1.20.24
botocore==1.23.24
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
commonmark==0.9.1
docker==5.0.3
gitdb==4.0.9
GitPython==3.1.24
google-auth==2.3.3
idna==3.3
jmespath==0.10.0
kubernetes==20.13.0
minio==7.1.2
oauthlib==3.1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.10.0
python-dateutil==2.8.2
python-hosts==1.0.2
PyYAML==6.0
requests==2.26.0
requests-oauthlib==1.3.0
rich==10.12.0
rsa==4.8
s3transfer==0.5.0
six==1.16.0
smmap==5.0.0
sshclient==0.1
urllib3==1.26.7
websocket-client==1.2.1
win-inet-pton==1.1.0
xattr==0.9.9
